body {
  font-family: 'Lora', serif;
}

.card h1{
  font-size: 25px;
  font-color: #a34242;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card h2{
  font-size: 25px;
  font-color: #262626;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 10px;
}
.card {
  width: 550px;
  margin: 40px auto 80px auto;
  border: 15px solid lavender;
  padding: 40px;
  text-align: left;
}


.card img{
  width: 60px;
}

a{
  color: #262626;
}
